body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sf-element-visualization-area {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.sf-element-visual {
  border: 1px solid #999;
  border-radius: 5px;
}

.sf-element-visual:hover {
  background: powderblue;
}
