body {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
}

canvas {
  border: 1px solid #000;
  display: block;
}

#canvas-wrapper {
  overflow: hidden;
  width: 700px;
  height: 700px;
  border: 1px solid #000;
}

.eraser-cursor {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.sticker-wrap button {
  display: flex;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 15px 30px !important;
}

.sticker-wrap #sticker-num1 {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0ZM9.42773 4.81836L6.89746 6.44434V8.13379L9.27832 6.61328H9.33887V15H11.1826V4.81836H9.42773Z' fill='%23005FB8'/%3E%3C/svg%3E%0A");
}

.sticker-wrap #sticker-num2 {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0ZM9.94824 4.67871C9.27556 4.67871 8.67849 4.80956 8.1582 5.07129C7.64116 5.33312 7.23541 5.70339 6.94043 6.18066C6.64545 6.65794 6.49707 7.2199 6.49707 7.86621H8.25293C8.25293 7.51822 8.32018 7.21771 8.45605 6.96582C8.59526 6.71393 8.79107 6.51968 9.04297 6.38379C9.2948 6.24467 9.58822 6.17579 9.92285 6.17578C10.2476 6.17578 10.5378 6.23832 10.793 6.36426C11.0482 6.4902 11.2487 6.66936 11.3945 6.90137C11.5403 7.13005 11.6133 7.4051 11.6133 7.72656C11.6133 8.00829 11.557 8.27388 11.4443 8.52246C11.3316 8.77094 11.1628 9.02794 10.9375 9.29297C10.7121 9.5581 10.4298 9.8608 10.0918 10.2021L6.55762 13.668V15H13.5371V13.459H9.10254V13.3896L10.8574 11.6045C11.517 10.9681 12.029 10.426 12.3936 9.97852C12.7614 9.53118 13.0182 9.12369 13.1641 8.75586C13.3099 8.38796 13.3828 8.01299 13.3828 7.63184C13.3828 7.06187 13.2385 6.55441 12.9502 6.11035C12.6652 5.66647 12.2639 5.31663 11.7471 5.06152C11.2302 4.80652 10.6306 4.67877 9.94824 4.67871Z' fill='%23005FB8'/%3E%3C/svg%3E%0A");
}

.sticker-wrap #sticker-num3 {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0ZM10.0293 4.67871C9.36973 4.67871 8.77444 4.80161 8.24414 5.04688C7.71394 5.28882 7.28982 5.6274 6.97168 6.06152C6.65695 6.49233 6.49275 6.99255 6.47949 7.5625H8.25391C8.26384 7.27763 8.35047 7.03257 8.5127 6.82715C8.6751 6.61835 8.88915 6.45742 9.1543 6.34473C9.41945 6.23204 9.70798 6.17578 10.0195 6.17578C10.3376 6.17581 10.6144 6.23521 10.8496 6.35449C11.0882 6.47379 11.2721 6.64107 11.4014 6.85645C11.5339 7.06857 11.599 7.31907 11.5957 7.60742C11.599 7.90233 11.5235 8.16236 11.3711 8.3877C11.2186 8.60969 11.0086 8.78267 10.7402 8.90527C10.4751 9.02787 10.1651 9.08886 9.81055 9.08887H8.91016V10.5107H9.81055C10.2414 10.5108 10.6092 10.5774 10.9141 10.71C11.2223 10.8425 11.4577 11.0264 11.6201 11.2617C11.7824 11.497 11.8617 11.769 11.8584 12.0771C11.8616 12.3753 11.784 12.6386 11.625 12.8672C11.4659 13.0959 11.2456 13.275 10.9639 13.4043C10.6822 13.5302 10.3587 13.5928 9.99414 13.5928C9.65286 13.5927 9.34436 13.5365 9.06934 13.4238C8.79447 13.3112 8.57384 13.1542 8.4082 12.9521C8.24248 12.7467 8.15134 12.5056 8.13477 12.2305H6.26562C6.28551 12.8037 6.45598 13.3096 6.77734 13.7471C7.09878 14.1845 7.53648 14.5262 8.08984 14.7715C8.64657 15.0167 9.28326 15.1396 9.99902 15.1396C10.7282 15.1396 11.375 15.012 11.9385 14.7568C12.5052 14.5016 12.949 14.1496 13.2705 13.7021C13.5953 13.2514 13.7578 12.7409 13.7578 12.1709C13.7611 11.5347 13.5709 11.0027 13.1865 10.5752C12.8055 10.1444 12.2567 9.87976 11.541 9.78027V9.7002C12.091 9.58084 12.5351 9.32713 12.873 8.93945C13.2143 8.55173 13.3832 8.07129 13.3799 7.49805C13.3799 6.98109 13.2428 6.50855 12.9678 6.08105C12.6927 5.6535 12.3026 5.31342 11.7988 5.06152C11.2984 4.80643 10.7086 4.67872 10.0293 4.67871Z' fill='%23005FB8'/%3E%3C/svg%3E%0A");
}
